.footer {
  background: white;
  color: $brand-color; /* keep main text color */
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
}

.footer a {
  color: #4A916C;  /* green links */
  padding: 0px 10px 0px;
  text-decoration: none;

  &:hover {
    color: #2A5D34;  /* darker green on hover */
    text-decoration: underline;
  }
}

@media (max-width: $container-width) {
  .footer {
    background: white;
    color: $brand-color;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}

.footer-description {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;  /* keep the subtle gray */
  font-size: 0.8rem;
}
