.page-content {
  max-width: 600px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}

a {
  color: #007acc; /* your desired link color */
  text-decoration: none;

  &:hover {
    color: #005fa3; /* darker on hover */
    text-decoration: underline;
  }
}

/*overrides*/

.highlight-box {
  background-color: #F0F0EC;
  padding: 1.2em;
  border-left: 4px solid #4E5D4E;
  margin: 2em 0;
  font-size: 1.05em;
}
